@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fluorescent-cyan: #34f6f2ff;
    --non-photo-blue: #78e3fdff;
    --light-cyan: #d1f5ffff;
    --alice-blue: #eef8ffff;
}